<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" disabled="true" id="menubutton">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-title id="title">Scan</ion-title>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" disabled="true" id="menubutton1">
            <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
