<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" disabled="true" id="menubutton">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-title id="title">Collection</ion-title>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" disabled="true" id="menubutton1">
            <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collection</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row *ngIf="(popCollectedListObservable | async)?.length !== 0; else loading; let collectedList">
    <ion-col size="6" *ngFor="let c of (popCollectedListObservable | async); let i = index">
      <app-card [collected]='collectedList' [pop]="c"></app-card>
    </ion-col>
  </ion-row>

  <ng-template #loading >
    <div class="ion-text-center">
      <h3>:( No collected pops yet!</h3>
    </div>
  </ng-template>
 </ion-content>
